BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
TabWidth: 4
AccessModifierOffset: -4
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
BreakBeforeBraces: Allman
IndentCaseLabels: true
IndentPPDirectives: AfterHash
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
